#######################################################
#                                                     #
#           Surrogate Based Optimization              #
#     framework for multistage compressor design      #
#                                                     #
#######################################################
# Authors:                                            #
#    Murillo S. S. Pereira Neto,                      #
#    @ University of São Paulo, Brazil                #
#    Bruno José Almeida Nagy,                         #
#    @ University of São Paulo, Brazil                #
#                                                     #
#                                                     #
# Description:                                        #
#   Design of multi-stage centrifugal compressor      #
#   for sCO2 application                              #
#######################################################

#-----------------------------------------------------#
# Neural Networks
#-----------------------------------------------------#

# Define problem type
problem = multistage_compressor

# Filenames of datasets for training and validation
dataset_training = Performance_Info_training.csv
dataset_validation = Performance_Info_validation.csv

# Independent variables (inputs)
var_independent = s01, T01, PR_stage

# Dependent variables (outputs)
#var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage, TR, Tip-mach, Slip_Factor, delta_h0
var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage

# Models
surrogate_models = nn, kriging

# Fluid
fluid = CO2

#-----------------------------------------------------#
# Neural Networks
#   how to set a NN per output? Lists of lists?
#-----------------------------------------------------#

# Model settings (same number and order of outputs)
scale_Xy = True, True
nn_opt_hyperparameters = False, False
#nn_hidden_layers = [[5, 24, 8], [26, 8, 10, 13]]
# r2 = 0.96, 0.835
#nn_hidden_layers = [[5, 24, 8], [11, 25, 15]]
# r2 = 0.960, 0.817
c
# r2 = 0.960, 0.984
nn_activation = relu, relu
nn_solver = adam, adam
nn_max_iter = 3000, 3000
nn_random_seed = 42, 42
nn_tol = 1e-5, 1e-5
nn_learning_rate_init = 1e-3, 1e-3

# Optimization
nn_opt_n_neurons_min=5
nn_opt_n_neurons_max=30
nn_opt_pop_size=60
nn_opt_n_gen=20
nn_opt_prob_cross=0.8
nn_opt_prob_mut=0.8

# Grid search
nn_param_grid_flag = False
nn_param_grid_hidden_layers = [[20,10,10], [30,15,15], [10, 10, 10, 20], [20,20,20,40]]
nn_param_grid_activation = relu, tanh
nn_param_grid_alpha = 1e-5
nn_param_grid_learning_rate_init = 1e-3
nn_param_grid_tol = 1e-5
nn_param_grid_max_iter = 3000


