#######################################################
#                                                     #
#           Surrogate Based Optimization              #
#     framework for multistage compressor design      #
#                                                     #
#######################################################
# Authors:                                            #
#    Murillo S. S. Pereira Neto,                      #
#    @ University of São Paulo, Brazil                #
#    Bruno José Almeida Nagy,                         #
#    @ University of São Paulo, Brazil                #
#                                                     #
#                                                     #
# Description:                                        #
#   Design of multi-stage centrifugal compressor      #
#   for sCO2 application                              #
#######################################################

#-----------------------------------------------------#
# Global info
#-----------------------------------------------------#

# Define problem type
problem = multistage_compressor

# Filenames of datasets for training and validation
dataset_training = Performance_Info_training.csv
dataset_validation = Performance_Info_validation.csv

# Independent variables (inputs)
var_independent = P01, T01, PR_stage

# Dependent variables (outputs)
#var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage, TR, Tip-mach, Slip_Factor, delta_h0
var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage

# Models
surrogate_models = nn, kriging

# Fluid
fluid = CO2

#-----------------------------------------------------#
# Neural Networks
#   how to set a NN per output? Lists of lists?
#-----------------------------------------------------#

# Model
nn_scale_Xy = True
nn_hidden_layers = 10, 10, 10, 10
nn_activation = relu
nn_solver = adam
nn_max_iter = 2000
nn_random_seed = 42
nn_tol = 1e-5
nn_learning_rate_init = 1e-3

# Grid search
nn_param_grid_flag = False
nn_param_grid_hidden_layers = [[5], [10], [20], [10,10], [50,30], [30,50], [50,50], [10,10,10],[20,10,10],[10,20,10],[10,10,20]]
nn_param_grid_activation = relu, tanh
nn_param_grid_alpha = 1e-5
nn_param_grid_learning_rate_init = 1e-3
nn_param_grid_tol = 1e-5
nn_param_grid_max_iter = 1000


