#######################################################
#                                                     #
#           Surrogate Based Optimization              #
#     framework for multistage compressor design      #
#                                                     #
#######################################################
# Authors:                                            #
#    Murillo S. S. Pereira Neto,                      #
#    @ University of São Paulo, Brazil                #
#    Bruno José Almeida Nagy,                         #
#    @ University of São Paulo, Brazil                #
#                                                     #
#                                                     #
# Description:                                        #
#   Design of multi-stage centrifugal compressor      #
#   for sCO2 application                              #
#######################################################

#-----------------------------------------------------#
# General information
#-----------------------------------------------------#

# Define problem type
problem = multistage_compressor

# Filenames of datasets for training and validation
dataset_training = Performance_Info_training.csv
dataset_validation = Performance_Info_validation.csv

# Independent variables (inputs)
var_independent = s01, T01, PR_stage

# Dependent variables (outputs)
#var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage, TR, Tip-mach, Slip_Factor, delta_h0
var_dependent = Efficiency_t_t_rotor, Efficiency_t_t_stage

# Models
surrogate_models = nn

#-----------------------------------------------------#
# Neural Networks
#-----------------------------------------------------#

# Model settings (same number and order of outputs)
scale_Xy = True, True
nn_opt_hyperparameters = False, False
#nn_hidden_layers = [[19, 24, 20], [11, 5, 15]]
# r2 = 0.933, 0.876
nn_hidden_layers = [[14, 19, 15], [29, 13, 16]]
# r2 = 0.961, 0.937
#nn_hidden_layers = [[12, 19, 21, 15], [8, 13, 20, 29]]
# r2 = 0.960, 0.936
nn_activation = relu, relu
nn_solver = adam, adam
nn_max_iter = 5000, 5000
nn_random_seed = 42, 42
nn_tol = 1e-5, 1e-5
nn_learning_rate_init = 1e-3, 1e-3

# Optimization
nn_opt_n_neurons_min=5
nn_opt_n_neurons_max=30
nn_opt_pop_size=60
nn_opt_n_gen=20
nn_opt_prob_cross=0.8
nn_opt_prob_mut=0.8

# Grid search
nn_param_grid_flag = False
nn_param_grid_hidden_layers = [[20,10,10], [30,15,15], [10, 10, 10, 20], [20,20,20,40]]
nn_param_grid_activation = relu, tanh
nn_param_grid_alpha = 1e-5
nn_param_grid_learning_rate_init = 1e-3
nn_param_grid_tol = 1e-5
nn_param_grid_max_iter = 3000

#-----------------------------------------------------#
# Problem-specific parameters
#-----------------------------------------------------#

# Fluid
fluid = CO2

# Number of stages
n_stages = 4

# Inlet state of first stage (Pa and K)
P0_in = 4e5
T0_in = 313.15
# Inlet temperature at remaining stages (K)
T0_in_remaining = 313.15
# Outlet state of the last intercooler (Pa and K)
P0_out = 250e5
T0_out = 313.15
# Total pressure loss in each intercooler (Pa)
P0_loss_HX = 0.5e5
# Pressure ratio ranges
PR_min_opt = 2.0
PR_max_opt = 3.0

#-----------------------------------------------------#
# NSGA-II
#-----------------------------------------------------#

# Plotting
T_plot_min = 280
T_plot_max = 440
T_plot_isobars_inlet_annotate = 321
T_plot_isobars_solution_annotate = 340

#-----------------------------------------------------#
# Optimization
#-----------------------------------------------------#

# Flag
opt_flag = True

# Optimization method
opt_method = nsga2
#, SLSQP

# Objective
opt_obj = power, heat_transfer
opt_min_max = min_abs, min_abs

# Temperature bounds
temp_min = 313.15
temp_max = 313.150001

#-----------------------------------------------------#
# NSGA-II
#-----------------------------------------------------#

opt_nsga2_pop_size = 120
opt_nsga2_n_gen = 100
opt_nsga2_prob_cross = 0.7
opt_nsga2_prob_mut = 0.7

