# Filenames of datasets for training and validation
dataset_training = Performance_Info_training.csv
dataset_validation = Performance_Info_validation.csv

# Independent variables (inputs)
var_independent = P01, T01, PR_stage

# Dependent variables (outputs)
var_dependent = Efficiency_t_t, T03

# Fluid
fluid = CO2